@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Raleway */
@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Quicksand */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v31/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
  text-align: center;
}

:root {
  --primary-color: #020228;
  --secondary-color: #ff00e5;
  --tertiary-color: #b535f6;
  --btn-bg-color-gradient: linear-gradient(45deg, #9b34ef 0%, #490cb0 20%, transparent 50%);
  --btn-link-bg-color: #fff;
  --btn-link-color: #000;
  --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
  --divider-bg-color: linear-gradient(90deg, #5516ba, rgba(255, 0, 229, 0.5) 80%);
  --nav-bg-color: rgba(0, 0, 0, 0.3);
  --text-color: #fff;
  --link-color: #9e86ff;
  --form-bg-color: rgba(211, 211, 211, 0.06);
  --form-field-bg-color: rgba(0, 0, 0, 0.2);
  --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
  --form-field-placeholder: rgba(255, 255, 255, 0.7);
  --form-field-error: rgb(255, 76, 76);

  scroll-behavior: smooth;
}

.btn-enter {
  background: transparent;
  border: none;
  color: white;
  font-weight: 700;
}

.btn-subscriber {
  background: var(--tertiary-color);
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  padding: 8px 26px;
  transition: 1s;
  cursor: pointer;
}

.btn-subscriber-animated {
  background: var(--btn-bg-color-gradient);
  border: none;
  border-radius: 35px;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 8px 26px;
  transition: 1s;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-subscriber:hover {
  background: white;
  border: none;
  border-radius: 20px;
  color: var(--primary-color);
  font-weight: 700;
  padding: 8px 26px;
  transition: 1s;
  cursor: pointer;
}

.ft-raleway {
  font-family: 'Raleway', sans-serif;
}

.ft-quicksand {
  font-family: 'Quicksand', sans-serif;
}