@import url('global.css');

body {
    height: 1000px;
    background-color: var(--primary-color);
}

.nav-menu {
    position: fixed;
    background-color: var(--nav-bg-color);
    top: 0;
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-menu img,
.header-btn {
    margin-top: 0.5rem;
    gap: 2.5rem;
    padding: .5rem 1.5rem .5rem .5rem;
}

.nav-menu a {
    font-size: 10pt;
    font-weight: 600;
}

header {
    position: relative;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    margin-top: 140px;
    padding: 100px 0 300px;
    animation: gradient 10s ease infinite alternate;
}

header::after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}

.header__content {
    padding: 0 40px;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__channels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.header__title-light {
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
}

.header__title {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

.divider {
    height: 5px;
    width: 75%;
    background: var(--divider-bg-color);
}

.header__subscriber--info {
    display: flex;
    flex-direction: column;
}

.header__subscriber--info p {
    font-size: 1.25rem;
}

.header__offer--price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: .5rem;
}

.header__offer--price p {
    font-size: 2.5rem;
    font-weight: 600;
}

.header__offer--price span {
    font-size: 1rem;
}



/* SECTION [ PLANS ] */
.plan__card--containerExterno{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.plans__container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.plan__card {
    display: flex;
    background: var(--card-bg-color);
    height: 650px;
    min-width: 260px;
    max-width: 600px;
    padding: 40px 60px;
    border-radius: .5rem;
    flex-direction: column;
    justify-content: space-between;
}

.plan__card--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 2rem 0;
}

.plan__card--price {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.plan__card--value {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 700;
}

.plan__card--listItem {
    list-style: none;
    text-align: start;
    font-size: 1.25rem;
    margin: 0 0 1rem 0;
    padding: 1rem 0 0 1rem;
}

.plan__card--listItem::marker {
    content: "+";
    margin: 0 8px 0 0;
    font-size: 2rem;
}

.plan__card a {
    align-self: center;
    font-size: 14px;
}





/* SECTION [ CHOISE NEW UNIVERSE ] */
#choiseNewUniverse {
    height: 1000px;
}