@import url('global.css');

body {
    height: 1000px;
    background-color: var(--primary-color);
}

.nav-menu {
    position: fixed;
    background-color: var(--nav-bg-color);
    top: 0;
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header-btn {
    display: flex;
    gap: 1rem;
}

.nav-menu img,
.header-btn {
    margin-top: 0.5rem;
    gap: 2.5rem;
    padding: .5rem;
}

header {
    position: relative;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    margin-top: 140px;
    padding-top: 80px;
    animation: gradient 10s ease infinite alternate;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.header__content {
    padding: 0 40px;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__channels {
    /* padding: 5rem 0 0;
    margin: 0 0 4rem 0; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.header__title-light {
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
}

.header__title {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

.divider {
    height: 5px;
    width: 195px;
    background: var(--divider-bg-color);
}

.header__subscriber--info {
    display: flex;
    flex-direction: column;
}

.header__subscriber--info p {
    font-size: 1.25rem;
}

.header__offer--price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: .5rem;
}

.header__offer--price p {
    font-size: 2.5rem;
    font-weight: 600;
}

.header__offer--price span {
    font-size: 1rem;
}