@import url('global.css');

body {
    /* height: 1000px; */
    background-color: var(--primary-color);    
}

.nav-menu {
    position: fixed;
    background-color: var(--nav-bg-color);
    top: 0;
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-menu img,
.header-btn {
    margin-top: 0.5rem;
    gap: 2.5rem;
    padding: .5rem 1.5rem .5rem .5rem;
}

.nav-menu img {
    width: 160px;
    height: auto;
}

.nav-menu a {
    font-size: 10pt;
    font-weight: 600;
}

header {
    position: relative;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    margin-top: 140px;
    padding: 100px 0 300px;
    animation: gradient 10s ease infinite alternate;
}

header::after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}

.header__content {
    padding: 0 40px;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__channels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.header__title-light {
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
}

.header__title {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

.divider {
    height: 5px;
    width: 75%;
    background: var(--divider-bg-color);
}

.header__subscriber--info {
    display: flex;
    flex-direction: column;
}

.header__subscriber--info p {
    font-size: 1.25rem;
}

.header__offer--price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: .5rem;
}

.header__offer--price p {
    font-size: 2.5rem;
    font-weight: 600;
}

.header__offer--price span {
    font-size: 1rem;
}



/* SECTION [ PLANS ] */
#plans {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
    text-align: center;
}

.plan__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--card-bg-color);
    min-width: 260px;
    max-width: 600px;
    border-radius: .5rem;
    padding: 40px 40px;
    min-height: 610px;
}

.plan__card--capsule {
    display: flex;
    flex-direction: column;
}

.card1 {
    animation: cardRotateOne 2s linear 1;
}

.plan__card--price .plan__card--value {
    font-size: 1.5rem;
}

.plans__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 1.5rem;
}

.plans__container h1 {
    width: 100%;
}

.plan__card--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2rem 0;
}

.plan__card--price {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.plan__card--value {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 700;
}

.plan__card--listItem {
    list-style: none;
    text-align: start;
    font-size: 1rem;
    padding: 1rem 0 0 1rem;
    /* width: fit-content; */
    /* margin: 0 0 1rem 0; */
}

.plan__card--listItem::marker {
    content: "+";
    margin: 0 8px 0 0;
    font-size: 2rem;
}

.plan__card .btn_plano {
    align-self: center;
    font-size: 14px;
    width: 290px;
    font-size: 10pt;
}





/* SECTION [ CHOISE NEW UNIVERSE ] */
.contents {
    margin: 100px auto;
}

.container {
    max-width: 1200px;
    padding: 1.5rem;
    text-align: center;
}

.choise__card--container {
    display: grid;
    grid-template-columns: repeat(6, 100%);
    grid-auto-flow: column;
    overflow: auto hidden;
    margin: 2.5rem 0 0;
}

.content__card {
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    transition: transform 0.8s, background 0.8s, border 1s;
}

.choise__card--img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 2s;
}




/* SECTION [ LOGIN ] */

#login {
    margin: 0 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.login__container {
    width: 100%;
    max-width: 800px;
    height: 450px;
    background: var(--form-bg-color);
    border-radius: .5rem;
    padding: 2.5rem;
}

.login__btn-enter {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}



/* FOOTER */
.footer_container {
    display: flex;
    flex-direction: column;
    padding: .5rem .5rem 1.5rem;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 0;
}

.footer__menu a {
    color: var(--link-color);
    font-weight: 600;
    text-transform: uppercase;
    transition: 1s;
}

.footer__menu a:hover {
    color: white;
    transition: 1s;
}

.footer_container p {
    font-size: .75rem;
    margin: 25px 16px 16px;
    color: var(--link-color);
}

.social_media--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin: 4rem 0 0;
}