@import url('global.css');

@media screen and (min-width:480px) {
    .nav-menu {
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .nav-menu_logo {
        width: 160px;
        margin-left: 8px;
        margin-bottom: 8px;
    }

    .header-btn {
        margin-bottom: 8px;
    }

    header {
        margin-top: 125px;
    }

    .header__content .txt-size {
        width: 240px;
        font-weight: 100;
    }

    .plan__card--price .plan__card--value {
        font-size: 1.5rem;
    }

    .Plan__card--content--title{
        display: flex;
        flex-direction: column;
    }

    .plan__card--listItem {
        font-size: 1rem;
    }
}